{% extends 'partials/base.html' %}


{% block content %}
{% load crispy_forms_tags %}	

		
	<div class="all-title-box">
		<div class="container text-center">
			<h1>Dear Member<span class="m_1">You can create your profile here...</span></h1>
		</div>
	</div>
	
    <div id="contact" class="section wb">
        <div class="container">
            <div class="section-title text-center">
                {% if user.is_authenticated %}

                <h3 style="color: brown;">Welcome {{request.user.username| title}}</h3>
                
            </div><!-- end title -->

            <div class="row justify-content-center">
                <div class="col-8">
                    <div class="contact_form">
                        <div id="message"></div>
                        
                       
                            
                        <form  method="POST" style="color: azure;" enctype="multipart/form-data" >
                          {% csrf_token %}
                          {{ form | crispy }}  
                          <div class="text-center pd">
                            <button type="submit" class="btn btn-light btn-radius btn-brd grd1 btn-block">Create Profile</button>
                        </div>
                        
                        </form>
                        
                    </div>
                </div><!-- end col -->
				
            </div><!-- end row -->
            {% endif %}
        </div><!-- end container -->
    </div><!-- end section -->
	
	

{% endblock content %}